.mine{
    text-align: center;
    height: 800px;
}

.roomTitle{
    font-size: 45px;
    margin-top: 20px;
}

.sp{
    margin-top: 20px;
}

.sp1, .sp2, .sp3, .sp4{
    border: solid 3px;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
}

.sp1{
    margin-right: 10px;
}

.sp2{
    margin-left: 10px;
}

.sp3{
    position: relative;
    background-color: #555;
    color: white;
    bottom: 60px;
    right: 50px;
    width: 10px;
    height: 20px;
    font-size: 20px;
}

.sp4{
    position: relative;
    right: 223px;
    background-color: #555;
    color: white;
    font-size: 20px;
}

.party{
    margin-top: 30px !important;
    width: 500px;
    height: 500px;
    border: solid 3px;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 50px;
    position: relative;
    bottom: 500px;
}

.currentWeekPlan{
    position: relative;
    right: 20px;
    top: 31px;
    left: 70px;
    padding-top: 20px;
    border: solid 3px;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    font-size: 20px;
    bottom: 200px;

}

.dDay{
    position: relative;
    right: 400px;
}

.rank{
    position: relative;
    bottom: 1050px;
    width: 400px;
    left: 1000px;
    border: solid 3px;
    border-radius: 10px;
    padding-top: 15px;
    font-size: 20px;
}